@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

h1 {
    font-size: 45px;
    color: #4873A6
}

h2 {
font-family: ABeeZee, sans-serif;
font-style: italic;
font-size: 36px;
line-height: 43px;
display: flex;
align-items: center;

color: #22B2AE;
}

p {

font-family: Average;
font-size: 20px;
line-height: 150%;
display: flex;
align-items: center;
text-align: center;

color: #524364;

}
.nav {
    background-color: #4873A6;
    color: white;
    /* width: 100vw; */
}

.navtext {
    text-decoration: none;
    color: white;
}

.applogo {
    height: 40px;
}

.logout {
    cursor: pointer;
}

.body {
    background-image: linear-gradient(#D5CDDE, #B0C7E2);
}

.hero {
    min-height: 100vh
}

.takequiz {
    border-radius: 30px 30px 0;
    background-color: #22B2AE;
    border: none;
    cursor: pointer;
}

.quizlink, .quizlink:hover {
    color: white;
    text-decoration: none;
    font-family: ABeeZee, sans-serif;
}

.steps {
    min-height: 100vh;
}

.stepblock {
    width: 70vw;
}

.stepnum {
    /* padding: 30px; */
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    color: black;
}

.stepimg {
    width: 50%;
}

/* Test Page */

.testcard {
    background-color: white;
    min-height: 75vh;
    width: 80vw;
    border-radius: 20px;
    box-shadow: 10px 10px #4873A6;
}

.testLabels {
    font-family: ABeeZee, sans-serif;
    color: #22B2AE;
    }

.choiceButton {
    background-color: rgb(255, 249, 249);
    border-radius: 20px;
    box-shadow: 2px 2px 2px #838383;
    color: #838383;
    cursor: pointer;
}

.choiceButton:hover {
    background-color: #22B2AE;
    color: white;
}

/* Results Page */

.resultsection {
    height: 60vh
}

.resultimg {
    height: 30%;
}

.resultlabels {
    font-family: ABeeZee, sans-serif;
    color: #22B2AE;
    font-size: 40px;
}

.resultsbuttons {
    height: 20vh;
}